<div id="users" class="px-4 py-2">
  <div class="position-fixed inset-x-0 top-0">
    <h2>Players</h2>
  </div>

  <div class="overflow-y-scroll">
    {{#each this.model as |user|}}
      <UiLink @args={{array "user" user.id}} as |link|>
        <div class="bg-white mt-4 pointer-events-auto mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden mb-" {{on "click" link.transitionTo}}>
          <div class="flex px-6 py-4">
            <img class="block h-16 rounded-full mx-auto mb-0 mr-4 ml-0" src="{{user.avatarUrl}}" alt="avatar">
            <div class="text-left flex-grow">
              <div class="mb-4">
                <p class="text-xl leading-tight">{{user.name}}</p>
                <p class="text-m leading-tight text-grey-dark">{{user.userName}}</p>
                <p class="text-sm leading-tight text-grey-dark">{{user.location}}</p>
              </div>
            </div>
          </div>
        </div>
      </UiLink>
    {{/each}}
  </div>
</div>
