<div id="user-profile-header" class="relative h-2/5 bg-gradient-to-br from-blue-400 via-indigo-500 to-green-500 shadow">
  <div class="bg-gray-400 h-full pt-6 relative bg-opacity-50 flex flex-col flex-wrap items-center content-around">
    <img class="block rounded-full h-36 w-36 shadow-xl" src={{this.model.avatarUrl}} alt={{this.model.name}}>
    <div class="text-gray-100 pt-4">
      <span class="text-xl tracking-wide font-semibold uppercase">{{this.model.name}}</span>
    </div>
  </div>
  <div class="bg-gray-900 bg-opacity-50 text-gray-300 absolute inset-x-0 bottom-0 flex justify-around">
    <div class="border-r-2 px-2 my-2  border-gray-500 text-center w-1/3">
      <span class="block text-blue-300 text-3xl tracking-wider">83</span>
      <span class="block text-xs uppercase font-semibold tracking-wide">friends</span>
    </div>
    <div class="border-r-2 px-2 my-2  border-gray-500 text-center w-1/3">
      <span class="block text-blue-300 text-3xl tracking-wider">125</span>
      <span class="block text-xs uppercase font-semibold tracking-wide">rounds</span>
    </div>
    <div class="text-center px-2 my-2 w-1/3">
      <span class="block text-blue-300 text-3xl tracking-wider">-6</span>
      <span class="block text-xs uppercase font-semibold tracking-wide">avg score</span>
    </div>
  </div>
</div>
<div id="user-profile-detail">

</div>
{{!-- <img class="w-full" src={{this.model.avatarUrl}} alt={{this.model.name}}>
<div class="flex justify-center">
  <h2 class="px-4 py-2 -mt-6 lock rounded max-w-lg min-w-lg text-center bg-white border">{{this.model.name}}</h2>

  <div id="user-details" oclass="px-4 py-2">
  </div>
</div> --}}

