<div id="courses" class="px-4 py-2">
  <h2>Users</h2>

  {{#each model as |user|}}
    {{#ui-link "user" user.id as |link|}}
      <div class="bg-white mt-4 pointer-events-auto mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden mb-" onclick={{action link.transitionTo}}>
        <div class="flex px-6 py-4">
          <img class="block h-16 rounded-full mx-auto mb-0 mr-4 ml-0" src="{{user.avatarUrl}}" alt="">
          <div class="text-left flex-grow">
            <div class="mb-4">
              <p class="text-xl leading-tight">{{user.name}}</p>
              <p class="text-m leading-tight text-grey-dark">{{user.userName}}</p>
              <p class="text-sm leading-tight text-grey-dark">{{user.location}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/ui-link}}
  {{/each}}
</div>
